*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

.section{
    width: 1400px;
    margin: auto;
    background-color: rgb(2, 10, 85);
}

nav{
    height: 60px;
}

.head{
    margin-left: 5%;
    margin-right: 5%;
    height: 80px;
}

.logo{
    float: left;
    vertical-align: middle;
    height: 80px;
    width: 150px;
    background-image: url('img/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
}

ul{
    height: 80px;
    line-height: 80px;
    text-align: middle;
    float: left;
    }

li{
    float: left;
    display: inline;
    vertical-align: middle;	   
    text-align: center;	
}

a{
    padding: 10px;
    float: left;
    list-style: none;
    display: inline;
    color: white;
    text-decoration: none;	
  
}

.button{
    float: right;
    list-style: none;
    display: inline;
}

button{
    color: white;
    background: rgba(255, 255, 255, 0);
    border-radius: 7px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 30px;
}

.btn-green{
    background-color: green;
    border: none;
}

.hero-section{
    background-color: rgb(2, 10, 85);
    height: 400px;
    background-image: url('img/background-header.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
}

.first-block{
    height: 100%;
    width: 50%;
    margin-left: 5%;
}

.title{
    color: white;
    margin-top: 18%;
    font-size: 40px;
}

.big{
 font-size: 20px;
}

.banner{
    background-color: lightgray;
    height: 100px;
    text-align: center;
}

.frase{
    padding: 20px;
    height: 100%;
    width: 80%;
    margin: auto;

}

.frase2{
    color: rgb(172, 165, 165);
}

.programma{
    height: 400px;
}

.column{
    float: left;
    position: relative;
    height: 400px;
}

.col-3{
    width: 33.33333%;
    background-color: rgb(255, 255, 255);
}

.img1{
    height: 150px;
    width: 100%;
    background-image: url('img/profile.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.img2{
    height: 150px;
    width: 100%;
    background-image: url('img/computer.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.img3{
    height: 150px;
    width: 100%;
    background-image: url('img/doc.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.h2green{
    color: green;
    text-align: center;
    padding: 2% 5% ;
}
.hr{
    width: 30%;
    margin: auto;
}

.spiegazione{
    color: gray;
    padding: 2% 5%;
}

.col-2{
    width: 50%;
    background-color: white;
}

.level{
    height: 400px;
}

.mountain{
    height: 100%;
    width: auto;
    background-image: url('img/mountain.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5%;
}

.scopri{
    padding: 30px;
    height: 100%;
    margin-right: 20%;
}

.h4-2{
    padding: 5% 0;
}
.link{
    color: blue;
    text-decoration: underline;
    padding: 0%;
}
.foot{
    background-color: lightgrey;
    height: 100px;
    width: 100%;
}

.piano{
    height: 100px;
    line-height: 100px;
    margin-left: 10%;
    float: left;
}

.select{
    float: right;
    height: 100px;
    line-height: 100px;
    margin-right: 5%;
    width: 35%;
}

.btn-footer{
    display: inline;
}

.fixed-help{
    position: fixed;
    height: 60px;
    width: 60px;
    background-color: green;
    float: right;
   
}